.avatarWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.picker {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.avatar {
  width: 100%;
  height: 100%;

  border-radius: 20%;
  object-fit: cover;
}

.wrapper {
  cursor: pointer;
  position: absolute;
  inset: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reload {
  opacity: 0;
}

.input {
  display: none;
}

.remove {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.error {
  color: red;
}
